*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
body{
    Font-family: Montserrat,sans-serif;
}
#header{
    position: fixed;
    backdrop-filter: blur(5px);
    width: 100%;
    background: rgba(0, 0, 0, 0);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar a{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.003em;
    color: white;
    padding: 0 15px;
}
.header button{
   font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.003em;
    color: white;
    border-radius: 5px;
    border: 1px solid red;
    padding: 12px 30px;
    background: transparent;
}
#hero{
    background: url("../img/image 14.png")no-repeat center/cover fixed;
    min-height: 100vh;
    padding-top: 150px;
}
.hero h1{
font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    letter-spacing: 0.003em;
    color: white;
}
.hero h1 span{
    background: rgba(255, 0, 0, 0.59);
}










